#companies-logo .logo-container {
    /* background: #79e995; */
}

#companies-logo .logo-container .logo-slider {
    animation: slide 30s linear infinite;
}
/* 
#companies-logo .logo-container .logo-slider:hover {
    animation-play-state: paused;
} */

#companies-logo .logo-container .logo-wrapper {
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}